name: Deploy to Firebase Hosting
on:
  push:
    branches:
      - main  # Ou o nome da sua branch principal
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_CHAVE }}'
          channelId: live
          projectId: yanflex-aa831
